/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width */
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  text-align: center; /* Center text */
  padding: 20px;
  font-family: 'Roboto', sans-serif; /* Apply the new font */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  width: 100%;
}

.header-content h1, .header-content h2 {
  margin: 10px 0;
}

.fullname {
  font-size: 3rem;
  color: #e08804; /* Adjust as needed */
  font-family: 'Roboto', sans-serif; /* Apply the new font */
}

.header-content h2 {
  font-size: 1.5rem; /* Adjust size as needed */
}

.header-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  margin-top: 20px;
}

.header-profile-container a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  font-size: 1.2rem; /* Adjust font size for buttons */
  font-family: 'Roboto', sans-serif; /* Apply the new font */
  margin: 0 10px;
}

.header-profile-container .resume-button {
  background-color: #fcb212;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  display: inline-block; /* Ensure the link behaves like a button */
  cursor: pointer; /* Pointer cursor for button */
  text-decoration: none; /* Remove underline */
  margin-right: 10px;
}

.header-profile-container .resume-button:hover {
  background-color: #e08804; /* Hover effect */
}

.header-profile-container i {
  font-size: 2rem; /* Adjust icon size */
  margin: 0 10px;
}

.header-profile-container .fa-linkedin {
  color: #003087; /* LinkedIn */
}

.header-profile-container .fa-github {
  color: #fff; /* GitHub */
}

.header-profile-container .fa-envelope {
  color: #003087;
}

.profile-img {
  width: 100px; /* Smaller size */
  height: 100px; /* Smaller size */
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Media query */
@media (min-width: 788px) {
  .header-container {
    flex-direction: column;
  }
  .header-content {
    width: 60%;
  }
  .profile-img {
    width: 150px; /* Adjust size for larger screens */
    height: 150px; /* Adjust size for larger screens */
  }
}
