@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000; /* Black background */
  padding: 0 20px;
  font-family: 'Roboto', sans-serif; /* Updated font */
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li {
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff; /* White text color */
}

nav ul li:hover {
  background-color: #fcb212; /* Highlight color on hover */
  color: #fff;
  padding: 5px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    padding: 18px;
    margin-right: 100px;
  }
}
